/*
Created by Nova
22 Sept. 2018
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
/*CSS Reset */
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*.blackbar 
{
	background-color: black;
	font-family: "Lobster";
	font-size: 40px;
	color: white;
	text-align: center;
	width: 100%;
	
}*/
body
{
	background-color: black;
	width: 100%;
	height: 100%
}
.bgimg
{
	width: 100%;
}
.linkrefs
{
	text-align: center;
	font-family: "Arimo";
	color: white;
	text-decoration: none;
	border: solid white 2px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 16px;
	position: relative;
	padding: 0.5em 2.5em;
	margin-left: 5px;
	bottom: 27vh;
	left: 40vh;
	transition: color 0.5s ease, border-color 0.5s ease;
	text-shadow: 2px 2px black;
}
.linkrefs:hover
{
	color: #479b0f;
	border-color: #479b0f;
}
.discord a
{
	text-align: center;
	font-family: "Arimo";
	color: white;
	text-decoration: none;
	border: solid white 2px;
	box-sizing: border-box;
	font-size: 25px;
	position: relative;
	padding: 0.5em 2.5em;
	bottom: 32vh;
	transition: color 0.5s ease, border-color 0.5s ease;
	left: 35%;
	background-image: url('imgs/discord.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: center left 30px;
	left: 83vh;
	text-shadow: 2px 2px black;
}
.discord a:hover
{
	color: #479b0f;
	border-color: #479b0f;
}
.copyright
{
	height: 23px;
	background-color: black;
	width: 100%;
	position: static;
	bottom: 5%;
}
.container
{
	margin: 0 auto;
	max-width: 1000px;
}
.fottext
{
	text-align: center;
	width: 100%;
	color: white;
	font-family: "arimo";
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}